<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - Weather App</title>
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>


    <header>
        <h1>TJTS5901 - Weather App - Prod, !</h1>
    </header>


    <div class="container">
        

        <div class="left-section">
            <div class="search-container">
                <p>Enter a city name to get the weather data</p>
                <form id="search-form" action="#">
                    <input type="text" id="search"  autocomplete="off" name="city" placeholder="City name">
                    <button type="submit">Get weather</button>
                    <ul id="suggestions"></ul>
                </form>
            </div>
           

            <div id="weather-data">
                <div class="weather-header">
                    <h2>City name:</h2>
                    <button type="button" id="refresh-btn">Refresh</button>
                </div>
                <div class="city-container">
                    <h2 id="city-name">{{ city }}</h2>
                </div>
                <p><small>{{ timestamp }}</small></p>
                <div id="card">
                    <span>Source 1: Temperature from weather-api <span id="temp1">{{ temperature_weather }}</span> °C </span><br>
                    <span>Source 2: Temperature from openweathermap-api <span id="temp2">{{ temperature_open }}</span> °C </span><br>
                    <span>Average from both: <span id="avg1">{{ avg }}</span> °C</span><br>
                    <span>Difference between both: <span id="dif1">{{ dif }}</span> °C</span>
                </div>
            </div>

            <div id="map">
                {% if lon and lat %}
                    <img src="https://static-maps.yandex.ru/1.x/?ll={{ lon }},{{ lat }}&z=10&size=600,400&l=map&lang=en_US" alt="Kartta">
                {% elif lonOpen and latOpen %}
                    <img src="https://static-maps.yandex.ru/1.x/?ll={{ lonOpen }},{{ latOpen }}&z=10&size=600,400&l=map&lang=en_US" alt="Kartta">
                {% else %}
                    <img src="{{ url_for('static', filename='cat.svg') }}" alt="Static Image">
                {% endif %}
            </div>
        </div>


        <div class="previous-searches-container">
            <h3>Previous Searches</h3>
            <button id="clear-history">Clear history</button>
            <ul id="previous-searches">
                {% for search in search_history %}
                    <li class="search-item" 
                    data-city="{{ search.city }}"
                    data-temp-weather="{{ search.temperature_weather }}"
                    data-temp-open="{{ search.temperature_open }}"
                    data-avg="{{ search.avg }}"
                    data-dif="{{ search.dif }}"
                    data-lat="{{ search.lat }}"
                    data-lon="{{ search.lon }}"
                    >
                        {{ search.city }}: {{ search.avg }}°C<br>
                        <small>Last updated: {{ search.timestamp }}</small>
                    </li>
                {% endfor %}
            </ul>
        </div>

    </div>

    <script src="static/scripts.js"></script>
    

</body>
</html>
